* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 60%;
}

/*header section*/
.header-section {
  background-color: #1f2937;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 20px;
}

.links {
  display: flex;
  gap: 30px;
}

.nav-list li a {
  font-style: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.nav-list li a:hover {
  color: #f9faf8;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0;
}

.hero-title {
  color: #f9faf8;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text {
  color: #e5e5e5;
  font-size: 18px;
  margin-bottom: 15px;
}

.hero-text-main {
  flex: 1 0;
}

.main-img {
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  flex: 1 0;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 9px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.sign-up:hover {
  cursor: pointer;
  background-color: #0d63ed;
}

/*tiles section */

.tiles-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tiles-title {
  margin: 40px 0;
  font-size: 36px;
  color: #1f2937;
}

.tiles-container-flexbox {
  display: flex;
  margin-bottom: 80px;
  gap: 120px;
  align-items: baseline;
}

.tile-contain {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  row-gap: 7px;
}

.img-tile {
  object-fit: cover;
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 140px;
  height: 140px;
}

/*reviews section*/

.reviews .container {
  width: 45%;
}

.reviews {
  background-color: #e5e7eb;
  font-size: 33px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  padding: 90px 0;
}

.author-quote {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  font-style: normal;
}

/*sign-up area*/

.sign-up-area .container {
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: #3882f6;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  border-radius: 10px;
}

.sign-up-text p {
  color: #e5e7eb;
  font-size: 15px;
}

.sign-up-area-btn {
  border: white 1px solid;
}

/*footer*/

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 28px;
  text-align: center;
  font-size: 13px;
}
